@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  background-color:#05022C;
  height: 100vh;
  font-family: GmarketSansMedium;
}

.logoimg{
  margin-top: 100px;
  margin-bottom: 100px;
  height: 137px;
}

.select{
  margin: auto;
  max-width: 500px;
}

.select div{
  font-size: 20px;
  padding: 10px;
  border: 3px solid #FFD966;
  border-radius: 30px;
}

.color{
  width: 170px;
  margin-bottom: 40px;
  margin-left: 20%;
}

.cody{
  width: 240px;
  float: right;
  margin-right: 10%;
}

.closet{
  width: 280px;
  margin-top: 180px;
  margin-left: 10%;
}



